body {
  font-family: 'Raleway', sans-serif;
}

.hero {
  background: url('../img/hero1.png') center no-repeat;
  background-size: cover;
  color: $white;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;

    .slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;

      &-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-heading {
          max-width: 960px;
          width: 100%;
          text-align: center;

          .main-heading {
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            font-weight: 200;
            letter-spacing: 1.5px;
            margin: 0 0 30px;
          }

          .sub-heading {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 300;
            margin: 0 0 30px;
          }
        }

        .fas {
          font-size: 60px;
          cursor: pointer;
        }

        .fas:hover {
          color: $accent-color;
        }
      }

      .cta {
        color: $white;
        font-size: 14px;
        font-weight: 700;
        padding: 20px 50px;
        text-decoration: none;
        border-radius: 40px;
        border: 2px solid $white;
        cursor: pointer;
      }

      .cta:hover {
        background-color: $accent-color;
        border: 2px solid $accent-color;
      }

      &-pagination {
        position: absolute;
        bottom: -70px;
        display: flex;
        align-items: center;

        &-item {
          display: flex;
          margin: 0 5px;
        }

        .circle {
          width: 10px;
          height: 10px;
          border: 2px solid $white;
          border-radius: 100%;
        }

        .active {
          background: $white;
        }
      }
    }

    .fa-angle-down {
      position: absolute;
      bottom: 60px;
      font-size: 60px;
      opacity: 0.6;
    }

    .fa-angle-down:hover {
      opacity: 1;
      color: $accent-color;
      transition: 0.3s;
      transition-property: color;
      box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.15);
    }
  }
}

.about-us {
  padding: 110px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px 0;

    &__item {
      max-width: 280px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__image {
        width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(135,148,158, 0.15);
        border-radius: 50%;
        margin: 0 0 30px;
      }

      &__image:hover {
        background-color: $accent-color;
        opacity: 1;
        transition: 0.5s;
        transition-property: background-color;
        box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.15);
      }

      &__title {
        color: $heading-color;
        font-size: 30px;
        font-weight: 400;
        margin: 40px 0;
      }

      &__sub-title {
        color: $paragraph-color;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
      }
    }
  }
}

.lorem-ipsum, .dolor-sit-amet {
  background: rgba(237, 239, 241, 0.35);
  margin: 0;
  padding: 165px 0;

  .container {
    justify-content: flex-end;
  }

  .section-heading {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0;

    &__separate-line {
      margin: 0;
    }

    &__sub-title {
      line-height: 36px;
    }
  }
}

.dolor-sit-amet {
  background: none;

  .container {
    justify-content: flex-start;
  }
}

.feedback {
  padding: 165px 0;
  background: url('../img/feed-back.png') center no-repeat;
  background-size: cover;
  color: $white;

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    &-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-heading {
        max-width: 960px;
        width: 100%;
        text-align: center;

        .main-heading {
          color: #ffffff;
          font-size: 30px;
          font-weight: 300;
          margin: 30px 0;
        }

        .accent {
          color: $accent-color;
        }

        .sub-heading {
          opacity: 0.3;
          color: #ffffff;
          font-size: 18px;
          font-weight: 300;
        }
      }

      .fas {
        font-size: 60px;
        cursor: pointer;
      }

      .fas:hover {
        color: $accent-color;
        transition: 0.3s;
        transition-property: background-color;
        box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.15);
      }
    }

    &-pagination {
      position: absolute;
      bottom: -70px;
      display: flex;
      align-items: center;

      &-item {
        display: flex;
        margin: 0 5px;
      }

      .circle {
        width: 10px;
        height: 10px;
        border: 2px solid $white;
        border-radius: 100%;
      }

      .active {
        background: $white;
      }
    }
  }
}

.our-services {
  padding: 110px 0 20px;
  background: rgba(237, 239, 241, 0.35);

  .container {
    display: block;
  }

  .services {
    width: 100%;
    margin: 160px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &__card {
      max-width: calc(50% - 40px);
      display: flex;
      align-items: flex-start;
      margin: 0 0 90px;

      &__image {
        width: 94px;
        height: 94px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(135,148,158, 0.15);
        border-radius: 50%;
        margin: 0 30px 30px 0;
      }

      &__image:hover {
        background-color: $heading-color;
        transition: 0.3s;
        transition-property: background-color;
        box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.15);
      }

      &__heading {
        max-width: 420px;
        width: 100%;

        .title {
          color: $heading-color;
          font-size: 60px;
          font-weight: 200;
          letter-spacing: 1.5px;
          margin: 15px 0 50px 0;
        }

        .sub-title {
          font-family: 'Montserrat', sans-serif;
          color: $paragraph-color;
          font-size: 18px;
          font-weight: 400;
          line-height: 48px;
          margin: 0;
        }
      }
    }
  }
}

.meet-our-team {
  padding: 110px 0 0;

  .container {
    margin: 0 auto 70px;
  }

  .team-photo {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    &__card {
      margin: 0;
      position: relative;
      width: 20%;
      padding-top: 20%; /* 1:1 Aspect Ratio */
      background: $paragraph-color url('../img/user-photo.png') center center no-repeat;

      &__title {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(23, 218, 163, 0.8);
        padding: 20px;
        display: none;
      }

      .name {
        color: $white;
        font-size: 36px;
        font-weight: 200;
        text-align: center;
      }
    }

    &__card:hover .team-photo__card__title{
      display:flex;
      justify-content: center;
      align-items: center;
      transition-property: background;
      transition: 0.5s;
    }
  }
}

.pricing {
  padding: 110px 0;
  background: rgba(237, 239, 241, 0.35);

  .container {
    display: block;
  }

  .cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 110px 0 0;
  }

  .card-item {
    max-width: 270px;
    width: 100%;
    background-color: $white;

    &__heading {
      padding: 55px 35px;

      &__title {
        margin: 0 0 30px;
        color: $accent-color;
        font-size: 60px;
        font-weight: 200;
      }

      &__sub-title {
        opacity: 0.45;
        color: #87949e;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
      }
    }

    &__divider {
      width: 100%;
      border-bottom: 1px solid $paragraph-color;
      margin: 0;
      opacity: 0.1;
    }

    &__description {
      margin: 0;
      padding: 55px 35px;
      color: #87949e;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 48px;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 35px;
      background-color: $accent-color;
      text-decoration: none;
      color: $white;
    }

    &__button:hover {
      background-color: $heading-color;
      transition: 0.3s;
      transition-property: background-color;
    }
  }

  .card-item:hover {
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
  }
}

.dolor-sit-amet-map-bg {
  background: #ffffff url('../img/map.png') right center no-repeat;
  background-size: 585px auto;
  margin: 0;
  padding: 165px 0;

  .container {
    justify-content: flex-start;
  }

  .section-heading {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0;

    &__separate-line {
      margin: 0;
    }

    &__sub-title {
      line-height: 36px;
    }
  }
}